version: '3.8'

services:
  # База данных PostgreSQL
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: pt-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pt-db"]
      interval: 30s
      timeout: 10s
      retries: 3

  # Бэкенд на Spring Boot 3
  backend:
    build:
      context: ./PoliTechAPI
      dockerfile: Dockerfile
      no_cache: true
    # image: fant560/papi:2.0
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pt-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

  # Фронтенд
  frontend:
    build:
      context: ./PoliTechFront
      dockerfile: Dockerfile
    # image: fant560/papi-front:latest
    environment:
      BASE_URL: http://backend:8080
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge