<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
        <MDCKey>suppressLogs</MDCKey>
        <Value>true</Value>
        <OnMatch>DENY</OnMatch>
        <OnMismatch>NEUTRAL</OnMismatch>
    </turboFilter>
</configuration>

