//create style for aech table and set column width
.tenants-table {
  width: 100%;
  table-layout: fixed;
  .col-id { width: 100px; min-width: 100px; }
  .col-name { width: 100px; min-width: 100px; }
  .col-code { width: 100px; min-width: 100px; }
  .col-status { width: 100px; min-width: 100px; }
  .col-actions { width: 100px; min-width: 100px; }
}
.sys-admins-table {
  width: 100%;
  table-layout: fixed;
  .col-id { width: 100px; min-width: 100px; }
  .col-userLogin { width: 200px; min-width: 200px; }
  .col-fullName { width: 100%; }
  .col-position { width: 200px; min-width: 200px; }
  .col-status { width: 100px; min-width: 100px; }
  .col-actions { width: 100px; min-width: 100px; }
}
.tenant-admins-table {  width: 100%;
  table-layout: fixed;
  .col-id { width: 100px; min-width: 100px; }
  .col-userLogin { width: 200px; min-width: 200px; }
  .col-fullName { width: 100%; }
  .col-position { width: 200px; min-width: 200px; }
  .col-status { width: 100px; min-width: 100px; }
  .col-actions { width: 100px; min-width: 100px; }
}
.product-admins-table {  width: 100%;
  table-layout: fixed;
  .col-id { width: 100px; min-width: 100px; }
  .col-userLogin { width: 200px; min-width: 200px; }
  .col-fullName { width: 100%; }
  .col-position { width: 200px; min-width: 200px; }
  .col-actions { width: 100px; min-width: 100px; }
}
.logins-table {  width: 100%;
  table-layout: fixed;
  .col-id { width: 100px; min-width: 100px; }
  .col-userLogin { width: 200px; min-width: 200px; }
  .col-fullName { width: 100%; }
  .col-position { width: 200px; min-width: 200px; }
  .col-tenantCode { width: 100px; min-width: 100px; }
  .col-actions { width: 100px; min-width: 100px; }
}

.search-field {
  min-width: 300px;
  appearance: outline;
}

