<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div class="app-icon">
      <mat-icon>business</mat-icon>
    </div>
    <div class="nav-sections">
      <button mat-button routerLink="/business-line" class="nav-button">Линия бизнеса</button>
      <button mat-button routerLink="/products" class="nav-button">Продукты</button>
      <button mat-button routerLink="/files" class="nav-button">Файлы</button>
      <button mat-button routerLink="/test" class="nav-button">Тестирование</button>
      <button mat-button routerLink="/admin/tenants" class="nav-button">Тенанты</button>
      <button mat-button routerLink="/admin/clients" class="nav-button">Клиенты</button>
      <button mat-button routerLink="/admin/accounts/1" class="nav-button">Аккаунты</button>
      @if ((currentUser$ | async); as user) {
        <button mat-button (click)="logout()" class="nav-button">Выйти из {{user.username}}</button>
      } @else {
        <button mat-button routerLink="/login" class="nav-button">Войти</button>
      }
    </div>
  </div>
</mat-toolbar>
