<div class="business-line-edit-container">
  <div class="page-header">
    <h1 class="page-title">Линия бизнеса: {{ businessLine.mpName || 'Новая линия' }}</h1>
    <div class="header-actions">
      <button mat-raised-button class="header-btn" (click)="goBack()">Назад</button>
      <button mat-raised-button color="primary" class="header-btn save-btn" [disabled]="!hasChanges" (click)="save()">
        <mat-icon>save</mat-icon>
        Сохранить
      </button>
      <button mat-icon-button color="accent" class="json-button" (click)="saveToFile()">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button color="warn" class="json-button" (click)="loadFromFile()">
        <mat-icon>file_upload</mat-icon>
      </button>
    </div>
  </div>

  <mat-tab-group>
    <!-- Main Info Tab -->
    <mat-tab label="Основная информация">
      <mat-card class="data-card">
        <mat-card-header>
          <mat-card-title>Название группы продуктов</mat-card-title>
          <mat-card-subtitle>Код используется для краткой ссылки на группу.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="form-row">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Код продуктовой группы</mat-label>
              <input matInput [(ngModel)]="businessLine.mpCode" [disabled]="!isNewRecord" (ngModelChange)="updateChanges()">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Название продуктовой группы</mat-label>
              <input matInput [(ngModel)]="businessLine.mpName" (ngModelChange)="updateChanges()">
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>


    <!-- Policy Holder Tab -->
    <mat-tab label="Страхователь">
      <mat-card class="datatable-card">
        <mat-card-header>
          <mat-card-title>Атрибутивный состав данных страхователя</mat-card-title>
          <mat-card-subtitle>Атрибуты страхователя необходимые и применимые для данной группы продуктов.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="form-row form-row-inline">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Тип страхователя</mat-label>
              <mat-select [(ngModel)]="businessLine.mpPhType" name="mpPhType" (ngModelChange)="phTypeChanged()">
                <mat-option value="person">физик</mat-option>
                <mat-option value="organization">юрик</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="table-header">
            <h3>Атрибуты страхователя</h3>
          </div>

          <table mat-table [dataSource]="policyHolderVars" class="business-table policy-holder-table">
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef class="col-category">Объект</th>
              <td mat-cell *matCellDef="let element" class="col-category">{{ element.category }}</td>
            </ng-container>

            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef class="col-field">Атрибут</th>
              <td mat-cell *matCellDef="let element" class="col-field">{{ element.field }}</td>
            </ng-container>

            <ng-container matColumnDef="varName">
              <th mat-header-cell *matHeaderCellDef class="col-var-name">Название</th>
              <td mat-cell *matCellDef="let element" class="col-var-name">{{ element.varName }}</td>
            </ng-container>

            <ng-container matColumnDef="varCode">
              <th mat-header-cell *matHeaderCellDef class="col-var-code">Код</th>
              <td mat-cell *matCellDef="let element" class="col-var-code">{{ element.varCode }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef align="end" class="col-actions">...</th>
              <td mat-cell *matCellDef="let element" align="end" class="col-actions">
                <button mat-icon-button color="warn" (click)="deleteVar(element.original); $event.stopPropagation()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="policyHolderDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: policyHolderDisplayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- Policy io Tab -->
    <mat-tab label="Объект страхования">
      <mat-card class="datatable-card">
        <mat-card-header>
          <mat-card-title>Атрибутивный состав данных объекта страхования</mat-card-title>
          <mat-card-subtitle>Атрибуты объекта страхования необходимые для полного описания объекта.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="form-row form-row-inline">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Тип объекта страхования</mat-label>
              <mat-select [(ngModel)]="businessLine.mpInsObjectType" name="mpInsObjectType" (ngModelChange)="ioChanged()">
                <mat-option value="person">Физ.лицо</mat-option>
                <mat-option value="device">Техника</mat-option>
                <mat-option value="property">Имущество</mat-option>
                <mat-option value="avia-ns">Авиаперевозки НС</mat-option>
                <mat-option value="Car">Car</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="table-header">
            <h3>Атрибуты объекта страхования</h3>
          </div>

          <table mat-table [dataSource]="policyInsObjectVars" class="business-table policy-ins-object-table">
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef class="col-category">Объект</th>
              <td mat-cell *matCellDef="let element" class="col-category">{{ element.category }}</td>
            </ng-container>

            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef class="col-field">Атрибут</th>
              <td mat-cell *matCellDef="let element" class="col-field">{{ element.field }}</td>
            </ng-container>

            <ng-container matColumnDef="varName">
              <th mat-header-cell *matHeaderCellDef class="col-var-name">Название</th>
              <td mat-cell *matCellDef="let element" class="col-var-name">{{ element.varName }}</td>
            </ng-container>

            <ng-container matColumnDef="varCode">
              <th mat-header-cell *matHeaderCellDef class="col-var-code">Код</th>
              <td mat-cell *matCellDef="let element" class="col-var-code">{{ element.varCode }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef align="end" class="col-actions">...</th>
              <td mat-cell *matCellDef="let element" align="end" class="col-actions">
                <button mat-icon-button color="warn" (click)="deleteVar(element.original); $event.stopPropagation()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="policyInsObjectDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: policyInsObjectDisplayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

      <!-- Covers Tab -->
      <mat-tab label="Покрытия">
        <mat-card class="datatable-card">
          <mat-card-header>
            <mat-card-title>Список покрытий, применимых к группе продуктов</mat-card-title>
            <mat-card-subtitle>Полный список покрытий, используемых для данной группы продуктов. Используется далее при настройке конкретных продуктов.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="table-header">
              <h3>Справочник покрытий</h3>
              <div class="button-section">
                <button mat-raised-button color="primary" class="add-button" (click)="addCover()">
                  <mat-icon>add</mat-icon>
                  Добавить
                </button>
              </div>
            </div>

            <table mat-table [dataSource]="paginatedCovers" class="business-table covers-table">
              <ng-container matColumnDef="coverCode">
                <th mat-header-cell *matHeaderCellDef class="col-cover-code">Код покрытия</th>
                <td mat-cell *matCellDef="let element" class="col-cover-code">{{ element.coverCode }}</td>
              </ng-container>

              <ng-container matColumnDef="coverName">
                <th mat-header-cell *matHeaderCellDef class="col-cover-name">Покрытие</th>
                <td mat-cell *matCellDef="let element" class="col-cover-name">{{ element.coverName }}</td>
              </ng-container>

              <ng-container matColumnDef="risks">
                <th mat-header-cell *matHeaderCellDef class="col-risks">Список рисков</th>
                <td mat-cell *matCellDef="let element" class="col-risks">{{ element.risks }}</td>
              </ng-container>

              <ng-container matColumnDef="coverActions">
                <th mat-header-cell *matHeaderCellDef align="end" class="col-actions">...</th>
                <td mat-cell *matCellDef="let element" align="end" class="col-actions">
                  <button mat-icon-button color="primary" (click)="editCover(element); $event.stopPropagation()">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteCover(element); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="coverDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: coverDisplayedColumns;" (click)="editCover(row)" class="clickable-row"></tr>
            </table>
<!--
            <mat-paginator 
              [length]="filteredCovers.length"
              [pageSize]="coverPageSize"
              [pageIndex]="coverPageIndex"
              [pageSizeOptions]="[5, 10, 25]"
              (page)="onCoverPageChange($event)"
              showFirstLastButtons>
            </mat-paginator>
            -->
          </mat-card-content>
        </mat-card>
      </mat-tab>
    
    <!-- Files Tab -->
    <mat-tab label="Файлы">
      <mat-card class="datatable-card">
        <mat-card-header>
          <mat-card-title>Справочник типов документов</mat-card-title>
          <mat-card-subtitle>Справочник типов документов, применимых к группе продуктов. Код и название. Код используется для доступа по АПИ.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="table-header">
            <h3>Файлы</h3>
            <div class="button-section">
              <button mat-raised-button color="primary" class="add-button" (click)="addFile()">
                <mat-icon>add</mat-icon>
                Добавить
              </button>
            </div>
          </div>

          <table mat-table [dataSource]="files" class="business-table files-table">
            <ng-container matColumnDef="fileCode">
              <th mat-header-cell *matHeaderCellDef class="col-file-code">Код</th>
              <td mat-cell *matCellDef="let element" class="col-file-code">{{ element.fileCode }}</td>
            </ng-container>

            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef class="col-file-name">Название</th>
              <td mat-cell *matCellDef="let element" class="col-file-name">{{ element.fileName }}</td>
            </ng-container>

            <ng-container matColumnDef="fileActions">
              <th mat-header-cell *matHeaderCellDef align="end" class="col-actions">...</th>
              <td mat-cell *matCellDef="let element" align="end" class="col-actions">
                <button mat-icon-button color="warn" (click)="deleteFile(element); $event.stopPropagation()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fileDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: fileDisplayedColumns;" (click)="editFile(row)" class="clickable-row"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <!-- Text Vars Tab -->
    <mat-tab label="Строки">
      <mat-card class="datatable-card">
        <mat-card-header>
          <mat-card-title>Справочник строковых шаблонов</mat-card-title>
          <mat-card-subtitle>Строковые шаблоны можно использовать при проектировании печатных документов. Если нужно отформатировать текст или собрать служебную строку. Код используется как placeholder в ПФ.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="table-header">
            <h3>Строки</h3>
            <div class="button-section">
              <button mat-raised-button color="primary" class="add-button" (click)="addTextVar()">
                <mat-icon>add</mat-icon>
                Добавить
              </button>
            </div>
          </div>

          <table mat-table [dataSource]="textVars" class="business-table text-vars-table">
            <ng-container matColumnDef="varCode">
              <th mat-header-cell *matHeaderCellDef class="col-var-code">Код</th>
              <td mat-cell *matCellDef="let element" class="col-var-code">{{ element.varCode }}</td>
            </ng-container>

            <ng-container matColumnDef="varName">
              <th mat-header-cell *matHeaderCellDef class="col-var-name">Наименование</th>
              <td mat-cell *matCellDef="let element" class="col-var-name">{{ element.varName }}</td>
            </ng-container>

            <ng-container matColumnDef="varValue">
              <th mat-header-cell *matHeaderCellDef class="col-var-value">Шаблон</th>
              <td mat-cell *matCellDef="let element" class="col-var-value">{{ element.varValue }}</td>
            </ng-container>

            <ng-container matColumnDef="textVarActions">
              <th mat-header-cell *matHeaderCellDef align="end" class="col-actions">...</th>
              <td mat-cell *matCellDef="let element" align="end" class="col-actions">
                <button mat-icon-button color="warn" (click)="deleteTextVar(element); $event.stopPropagation()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="textVarDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: textVarDisplayedColumns;" (click)="editTextVar(row)" class="clickable-row"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div> 