<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Группы продуктов</h1>

    <div class="header-actions">
      <button mat-stroked-button (click)="loadBusinessLineFromFile()">Загрузить из файла</button>
      <button mat-flat-button (click)="addBusinessLine()">Создать</button>
    </div>
  </div>


      <div class="table-header">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Поиск</mat-label>
          <input matInput [(ngModel)]="searchText" (ngModelChange)="onSearch($event)" placeholder="Поиск по названию или коду">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="filteredBusinessLines" class="business-table business-line-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="col-id">ID</th>
          <td mat-cell *matCellDef="let element" class="col-id">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="mpCode">
          <th mat-header-cell *matHeaderCellDef class="col-code">Код</th>
          <td mat-cell *matCellDef="let element" class="col-code">{{ element.mpCode }}</td>
        </ng-container>

        <ng-container matColumnDef="mpName">
          <th mat-header-cell *matHeaderCellDef class="col-name">Название</th>
          <td mat-cell *matCellDef="let element" class="col-name">{{ element.mpName }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="col-actions"></th>
          <td mat-cell *matCellDef="let element" class="col-actions">
            <div class="action-buttons">
              <button mat-icon-button class="action-button" (click)="editBusinessLine(element); $event.stopPropagation()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="action-button" color="warn" (click)="deleteBusinessLine(element); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="editBusinessLine(row)"
            class="clickable-row"></tr>
      </table>

</div>
