<div class="formly-forms-container">
  <div class="page-header">
    <h1 class="page-title">Product Form</h1>
    <div class="header-actions">
      <button mat-raised-button color="accent" class="cancel-button" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
        Back to Product
      </button>
    </div>
  </div>

  <!-- Policy Card -->
  <mat-card class="form-card">
<!---
    <mat-card-header>
      <mat-card-title>Policy</mat-card-title>
    </mat-card-header>
  -->
    <mat-card-content>
      <div style="display: flex; gap: 12px; height: 100%;">
        <!-- Left Column: 60% width -->
        <div style="width: 60%; height: 100%; background-color: white; padding-left: 20px;padding-right: 20px;">
          <h3>Договор страхования {{ policy.policyNumber }}</h3>
          <!-- First Line: id, product -->
          <div class="display-flex" style="gap: 12px;">
            <mat-form-field appearance="outline" class="form-field flex-1">
              <mat-label>ID</mat-label>
              <input matInput [(ngModel)]="policy.id" name="id" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field flex-2">
              <mat-label>Product</mat-label>
              <input matInput [(ngModel)]="policy.productCode" name="productCode" readonly>
            </mat-form-field>
          </div>
          <!-- Second Line: startDate, endDate, waitingPeriod, policyTerm -->
          <div class="display-flex" style="gap: 12px;">
            @if (policy.startDate) {
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Дата начала договора</mat-label>
                <input matInput [(ngModel)]="policy.startDate" name="startDate" type="date">
              </mat-form-field>
            } @else {
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Период охлаждения</mat-label>
                <input matInput [(ngModel)]="policy.waitingPeriod" name="waitingPeriod">
              </mat-form-field>  
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Дата начала договора</mat-label>
                <input matInput [(ngModel)]="policy.startDate" name="startDate" type="date" readonly>
              </mat-form-field>
            }
          </div>
          <div class="display-flex" style="gap: 12px;">
            @if (policy.endDate) {
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Дата окончания договора</mat-label>
                <input matInput [(ngModel)]="policy.endDate" name="endDate" type="date">
              </mat-form-field>
            } @else {
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Период страхования</mat-label>
                <input matInput [(ngModel)]="policy.policyTerm" name="policyTerm">
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field flex-1">
                <mat-label>Дата окончания договора</mat-label>
                <input matInput [(ngModel)]="policy.endDate" name="endDate" type="date" readonly>
              </mat-form-field>
            }
          </div>
        </div>
        
        <!-- Right Column: 40% width -->
        <div style="width: 40%; height: 100%; background-color: white; padding-left: 20px;padding-right: 20px;">
          <h3>Премия и статус договора</h3>
          <div style="display: flex; flex-direction: column; gap: 12px;">
            <mat-form-field appearance="outline" class="form-field ">
              <mat-label>Status</mat-label>
              <input matInput [(ngModel)]="policy.statusCode" name="statusCode" readonly>
            </mat-form-field>
          </div>
          <div style="display: flex; flex-direction: column; gap: 12px;">  
            <mat-form-field appearance="outline" class="form-field ">
              <mat-label>Premium</mat-label>
              <input matInput [(ngModel)]="policy.premium" name="premium" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- PolicyHolder Card -->
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Страхователь</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Физ.лицо</h3>
      <div class="display-flex">
        @if (getFieldVisible('ph_firstName')) {
          <mat-form-field class="form-field flex-2" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_firstName') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.firstName" name="ph_firstName">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_lastName')) {
          <mat-form-field class="form-field flex-2" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_lastName') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.lastName" name="ph_lastName">
          </mat-form-field>
        }
    
        @if (getFieldVisible('ph_middleName')) {
          <mat-form-field class="form-field flex-2" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_middleName') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.middleName" name="ph_middleName">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_birthDate')) {
          <mat-form-field class="form-field flex-1" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_birthDate') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.birthDate" name="ph_birthDate">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('ph_fullName')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_fullName') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.fullName" name="ph_fullName">
          </mat-form-field>
        }

        @if (getFieldVisible('ph_fullNameEn')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_fullNameEn') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.fullNameEn" name="ph_fullNameEn">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('ph_birthPlace')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_birthPlace') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.birthPlace" name="ph_birthPlace">
          </mat-form-field>
        }
        @if (getFieldVisible('ph_familyState')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_familyState') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.familyState" name="ph_familyState">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_citizenship')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_citizenship') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.citizenship" name="ph_citizenship">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_isResident')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_isResident') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.isResident" name="ph_isResident">
          </mat-form-field>
        }
      </div>

      <h3>Документ</h3>
      <div class="display-flex">
        @if (getFieldVisible('ph_doc_typeCode')) {
          <mat-form-field class="form-field flex-2" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_typeCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.typeCode" name="ph_doc_typeCode">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_doc_serial')) {
          <mat-form-field class="form-field flex-1" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_serial') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.serial" name="ph_doc_serial">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_doc_number')) {
          <mat-form-field class="form-field flex-1" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_number') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.number" name="ph_doc_number">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('ph_doc_dateIssue')) {
          <mat-form-field class="form-field flex-1" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_dateIssue') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.dateIssue" name="ph_doc_dateIssue">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_doc_whom')) {
          <mat-form-field class="form-field flex-2" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_whom') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.whom" name="ph_doc_whom">
          </mat-form-field>
        }
  
        @if (getFieldVisible('ph_doc_divisionCode')) {
          <mat-form-field class="form-field flex-1" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_divisionCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.divisionCode" name="ph_doc_divisionCode">
          </mat-form-field>
        }
      </div>

      <div class="display-flex">
        @if (getFieldVisible('ph_doc_countryCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_countryCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.countryCode" name="ph_doc_countryCode">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_doc_ext_id')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_ext_id') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.ext_id" name="ph_doc_ext_id">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_doc_validUntil')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_doc_validUntil') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.identifiers.validUntil" name="ph_doc_validUntil">
          </mat-form-field>
        }
      </div>

      <div class="display-flex">
        @if (getFieldVisible('ph_ext_id')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_ext_id') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.ext_id" name="ph_ext_id">
          </mat-form-field>
        }

        @if (getFieldVisible('ph_gender')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_gender') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.gender" name="ph_gender">
          </mat-form-field>
        }

        @if (getFieldVisible('ph_isPublicOfficial')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_isPublicOfficial') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.person.isPublicOfficial" name="ph_isPublicOfficial">
          </mat-form-field>
        }
      </div>

      <h3>Контакты</h3>
      <div class="display-flex">
        @if (getFieldVisible('ph_phone')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_phone') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.contacts.phone" name="ph_phone">
          </mat-form-field>
        }

        @if (getFieldVisible('ph_email')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_email') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.contacts.email" name="ph_email">
          </mat-form-field>
        }
      </div>

      <h3>Адрес</h3>
      <div class="display-flex">
        @if (getFieldVisible('ph_addr_typeCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_typeCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.typeCode" name="ph_addr_typeCode">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_addressStr')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_addressStr') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.addressStr" name="ph_addr_addressStr">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('ph_addr_addressStrEn')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_addressStrEn') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.addressStrEn" name="ph_addr_addressStrEn">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_building')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_building') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.building" name="ph_addr_building">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_city')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_city') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.city" name="ph_addr_city">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_countryCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_countryCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.countryCode" name="ph_addr_countryCode">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_ext_id')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_ext_id') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.ext_id" name="ph_addr_ext_id">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_fiasId')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_fiasId') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.fiasId" name="ph_addr_fiasId">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_flat')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_flat') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.flat" name="ph_addr_flat">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_house')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_house') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.house" name="ph_addr_house">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_kladrId')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_kladrId') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.kladrId" name="ph_addr_kladrId">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_region')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_region') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.region" name="ph_addr_region">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_room')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_room') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.room" name="ph_addr_room">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_street')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_street') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.street" name="ph_addr_street">
          </mat-form-field>
        }
        
        @if (getFieldVisible('ph_addr_zipCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('ph_addr_zipCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.policyHolder.addresses.zipCode" name="ph_addr_zipCode">
          </mat-form-field>
        }
      </div>

      @if (getShowOrganization()) {
        <h3>Юр.лицо</h3>
        <div class="display-flex">
          @if (getFieldVisible('ph_ext_id')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_ext_id') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.ext_id" name="ph_ext_id">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_org_fullName')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_org_fullName') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.fullName" name="ph_org_fullName">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_org_fullNameEn')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_org_fullNameEn') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.fullNameEn" name="ph_org_fullNameEn">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_group')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_group') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.group" name="ph_group">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_org_inn')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_org_inn') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.inn" name="ph_org_inn">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_isResident')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_isResident') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.isResident" name="ph_isResident">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_kpp')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_kpp') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.kpp" name="ph_kpp">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_legalForm')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_legalForm') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.legalForm" name="ph_legalForm">
            </mat-form-field>
          }
              
          @if (getFieldVisible('ph_ogrn')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_ogrn') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.ogrn" name="ph_ogrn">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_shortName')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_shortName') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.shortName" name="ph_shortName">
            </mat-form-field>
          }
          
          @if (getFieldVisible('ph_country')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_country') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.country" name="ph_country">
            </mat-form-field>
          }

          @if (getFieldVisible('org_okpo')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('org_okpo') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.okpo" name="org_okpo">
            </mat-form-field>
          }

          @if (getFieldVisible('ph_bic')) {
            <mat-form-field class="form-field flex-3" appearance="outline">
              <mat-label>{{ getFieldLabel('ph_bic') }}</mat-label>
              <input matInput [(ngModel)]="policy.policyHolder.organization.bic" name="ph_bic">
            </mat-form-field>
          }
        </div>
      }

      @if (getShowPHCustom()) {
        <div class="form-section">
          <h3>Дополнительные поля</h3>
          
          @for (fieldKey of addFieldKeys; track fieldKey) {
            <div class="dynamic-field">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>LABEL</mat-label>
                <input 
                  matInput 
                  [(ngModel)]="policy.policyHolder.customFields[fieldKey]" 
                  [name]="'addField_' + fieldKey">
              </mat-form-field>
            </div>
          }
        </div>
      }
    </mat-card-content>
  </mat-card>

  <!-- InsuredObject Card -->
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Объект страхования</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    @if (getShowIoDevice()) {  
      <h3>Бытовая электроника</h3>
      <div class="display-flex">
        @if (getFieldVisible('io_device_typeCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_typeCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.deviceTypeCode" name="io_device_typeCode">
          </mat-form-field>
        }

        @if (getFieldVisible('io_device_tradeMark')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_tradeMark') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.tradeMark" name="io_device_tradeMark">
          </mat-form-field>
        }

        @if (getFieldVisible('io_device_model')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_model') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.model" name="io_device_model">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('io_device_countryCode')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_countryCode') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.countryCode" name="io_device_countryCode">
          </mat-form-field>
        }
        
        @if (getFieldVisible('io_device_devicePrice')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_devicePrice') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.devicePrice" name="io_device_devicePrice">
          </mat-form-field>
        }
        
        @if (getFieldVisible('io_device_imei')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_imei') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.imei" name="io_device_imei">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('io_device_licenseKey')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_licenseKey') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.licenseKey" name="io_device_licenseKey">
          </mat-form-field>
        }
        
        @if (getFieldVisible('io_device_name')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_name') }}</mat-label>
              <input matInput [(ngModel)]="policy.insuredObject.device.deviceName" name="io_device_name">
          </mat-form-field>
        }
      </div>
      <div class="display-flex">
        @if (getFieldVisible('io_device_osName')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_osName') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.osName" name="io_device_osName">
          </mat-form-field>
        }
        
        @if (getFieldVisible('io_device_osVersion')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_osVersion') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.osVersion" name="io_device_osVersion">
          </mat-form-field>
        }
        
        @if (getFieldVisible('io_device_serialNr')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_device_serialNr') }}</mat-label>
            <input matInput [(ngModel)]="policy.insuredObject.device.serialNr" name="io_device_serialNr">
          </mat-form-field>
        }
      </div>
    }
    @if (getShowIoTravelSegments()) {
      <h3>Авиа перевозки</h3>
      <div class="button-section">
        <button mat-raised-button color="primary" class="add-button" (click)="addTravelSegment()">
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
      <table mat-table [dataSource]="travelSegmentsDataSource" class="coverage-table">
        <ng-container matColumnDef="ticketNr">
          <th mat-header-cell *matHeaderCellDef>Ticket Nr</th>
          <td mat-cell *matCellDef="let element">{{ element.ticketNr || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="ticketPrice">
          <th mat-header-cell *matHeaderCellDef>Ticket Price</th>
          <td mat-cell *matCellDef="let element">{{ element.ticketPrice || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="departureDate">
          <th mat-header-cell *matHeaderCellDef>Departure Date</th>
          <td mat-cell *matCellDef="let element">{{ element.departureDate || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="departureTime">
          <th mat-header-cell *matHeaderCellDef>Departure Time</th>
          <td mat-cell *matCellDef="let element">{{ element.departureTime || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="departureCity">
          <th mat-header-cell *matHeaderCellDef>Departure City</th>
          <td mat-cell *matCellDef="let element">{{ element.departureCity || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="arrivalCity">
          <th mat-header-cell *matHeaderCellDef>Arrival City</th>
          <td mat-cell *matCellDef="let element">{{ element.arrivalCity || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteTravelSegment(travelSegmentsDataSource.data.indexOf(element))">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="travelSegmentsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: travelSegmentsDisplayedColumns;"></tr>
      </table>
    }
    

      <mat-divider class="section-separator"></mat-divider>

      <div class="display-flex">
        @if (getFieldVisible('io_sumInsured')) {
          <mat-form-field class="form-field flex-3" appearance="outline">
            <mat-label>{{ getFieldLabel('io_sumInsired') }}</mat-label>
            <input matInput class="text-right" [(ngModel)]="policy.insuredObject.sumInsured" name="io_sumInsured">
          </mat-form-field>
        }
      </div>  
    </mat-card-content>
  </mat-card>

  <!-- Coverage Card -->
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Покрытия и риски по договору</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="coverageDataSource" class="coverage-table">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let element">{{ element.cover?.code || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="risk">
          <th mat-header-cell *matHeaderCellDef>Risk</th>
          <td mat-cell *matCellDef="let element">{{ getRiskAsString(element.risk) }}</td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Start Date</th>
          <td mat-cell *matCellDef="let element">{{ element.startDate || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>End Date</th>
          <td mat-cell *matCellDef="let element">{{ element.endDate || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="sumInsured">
          <th mat-header-cell *matHeaderCellDef>Страховая сумма</th>
          <td mat-cell *matCellDef="let element">{{ element.sumInsured?.toString() || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="premium">
          <th mat-header-cell *matHeaderCellDef>Премия</th>
          <td mat-cell *matCellDef="let element">{{ element.premium?.toString() || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="deductibleType">
          <th mat-header-cell *matHeaderCellDef>Deductible Type</th>
          <td mat-cell *matCellDef="let element">{{ element.deductibleType || '' }}</td>
        </ng-container>

        <ng-container matColumnDef="deductibleText">
          <th mat-header-cell *matHeaderCellDef>Deductible Text</th>
          <td mat-cell *matCellDef="let element">{{ element.deductibleText || '' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="coverageDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: coverageDisplayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <!-- Action Buttons -->
  <div class="action-buttons-container">
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    <button mat-raised-button color="accent" (click)="onFastCalc()">Fast Calc</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>

</div>
