// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$ng-front4-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true

    //primary: mat.$azure-palette,
    //secondary: mat.$blue-palette         // вторичная (бывший accent)
    //tertiary: mat.$blue-palette,          // третичная
    //neutral: mat.$gray-palette,           // нейтральная
    //neutral-variant: mat.$slate-palette,  // вариант нейтральной
    //error: mat.$red-palette, 
  ),
  typography: (
    use-system-variables: true,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($ng-front4-theme);
  @include mat.system-level-colors($ng-front4-theme);
  @include mat.system-level-typography($ng-front4-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ng-front4-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($ng-front4-theme);

// Import global style library after Material theme
@import 'styles/index';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Error snackbar styles
.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  
  .mat-mdc-snack-bar-label {
    color: white !important;
    white-space: pre-line;
  }
  
  .mat-mdc-button {
    color: white !important;
  }
}
