# .github/workflows/compose-build-push.yml
name: Build, Push and Deploy with Compose

on:
  push:
    branches: [ "master" ]
  

env:
  REGISTRY: docker.io
  BACKEND_IMAGE: olegsirik/papi-b
  FRONTEND_IMAGE: olegsirik/papi-f

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |          
            # Pull latest code
            cd PtDocker
            git pull origin master
            echo "Текущий статус репозитория:"
            git status
            
            # Deploy
            docker compose down
            docker compose --env-file docker-compose.env up -d --build
            
            
              
